# Enable Rewrite Engine (if needed for custom URLs)
RewriteEngine On

# Custom 404 Error Page
ErrorDocument 404 /Portfolio-Website-2.0/Pages/404/

# Custom 403 Error Page
ErrorDocument 403 /Portfolio-Website-2.0/Pages/403/

# Redirect for Testing (optional)
Redirect 302 /test /Pages/404/index.php

<Files .env>
    Order Allow,Deny
    Deny from all
</Files>