.formItem {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.formItem > input, .formItem > textarea {
    background-color: aliceblue;
    box-shadow: 0 0 0 .5px rgba(0,0,0,.15),0 2px 1px rgba(0,0,0,.2);
    border: none;
    border-radius: 5px;
    margin-top: 5px;
    padding: 10px;
}

.formButton {
    display: block;
    background-color: rgb(189, 189, 189);
    border: none;
    box-shadow: 0 0 0 .5px rgba(0,0,0,.15),0 2px 3px rgba(0,0,0,.2);
    border-radius: 5px;
    background-color: black;
    padding: 10px;
    color: white;
    width: 100%;
}

textarea {
    resize: none;
    height: 300px;
}

.formContainer {
    border-radius: 10px;
    padding: 20px;
}

@media only screen and (min-width: 601px) {
    .formContainer {
        box-shadow: 0 0 0 .5px rgba(0,0,0,.15),0 2px 3px rgba(0,0,0,.2);
    }

    .formButton {
        width: fit-content;
        margin-left: auto;
        
    }
}